$mainColor: #fff;
$primaryBrand: #4d5ae5;
$presedState: #404bbf;
$dark: #2e2f42;
$success: #31d0aa;
$text: #434455;
$subtleText: #8e8f99;
$accent: #e7e9fc;
$light: #f4f4fd;
$modalOverlay: #2e2f42;
$heroBackground: #2e2f42;
$whiteBackground: #ffffff;
$modalBackground: #fcfcfc;
